.filtertab {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 15px;
    background-color: #ffffff;
    /* width: 100%; */
    padding: 15px 10%;
}
.vertical-divider{
    border: 1px solid #d4d4d4;
}
.filtertab button{
    all: unset;
    border: 1px solid #999;
    border-radius: 25px;
    padding: 8px 18px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    color: #444;
    cursor: pointer;
}
.filter-count{
    font-size: 9px;
    font-weight: 700;
    padding: 2px 5px;
    border-radius: round;
    background-color: blue;
    border-radius: 50%;
    color: white;
}