.navbar-content,
.navbar-left,
.navbar-right,
.navbar-right-oppurtunity-lists {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}
.navbar{
    border-bottom: 1px solid #cbcbcb;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
}
.navbar-content{
    padding: 10px 3%;
}
.nav-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: 2px solid #e6e6e6;
    padding: 10px;
    border-radius: 25px;
}

.nav-search:hover {
    border-color: #999;
}

.nav-search:focus-within {
    border: 2px solid #005cb7;
}

.nav-search-icon {
    color: #999;
    font-size: 18px;
}

.nav-search-input {
    all: unset;
    width: 300px;
    font-size: 14px;
}
.navbar-right-oppurtunity-item{
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #fff;
}
.navbar-right-oppurtunity-item.active {
    border-color: #0073e6;
    color: #0073e6;
    font-weight: 500;
}
.navbar-right-oppurtunity-item:not(.active):hover{
    background-color: rgb(244, 244, 244);
}
.nav-auth-button {
    font-size: 16px;
    color: white;
    background-color: #0073e6;
    height: fit-content;
    padding: 8px 30px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.nav-auth-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #005cb7;
    transition: left 0.4s ease-in-out;
    z-index: -1;
}

.nav-auth-button:hover:before {
    left: 0;
}

.navbar-right-item{
    padding: 10px;
    cursor: pointer;
}
.navbar-right-item:hover{
    background-color: #e6e6e6;
    border-radius: 50%;
}
.navbar-right-item-icon{
    font-size: 18px;
    color: #353535;
}